body{
    font-family: "Economica", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;

}
.containerhead{
display: flex;
flex-direction: row;
height: 30%;
width: 100%;
background-color: rgb(171, 14, 14);
}
.head1{
width: 30%;
background-color: grey;

}
.head2{
margin: 10px;
}
#imgprofil{
width: auto;
height: 150px;
}

.containermain1{
display: flex;
flex-direction: column;
background-color: grey;
width: 30%;
}
.Compétences{
  padding: 10px;
  
}
.logiciels{
padding: 10px;

}
.interet{
padding:10px;
}
.containerhead2{
align-items: center;
width: 100%;
background-color: rgb(171, 14, 14);
display: flex;
flex-direction: column;
}
main{
display: flex;
flex-direction: row;
}